//- add your jade files in this folder
doctype html
html
  head
    title
    link(rel='stylesheet', type='text/css', href='css/style.min.css')
  body.box
    //- MAIN
    include includes/content.jade
    //- FOOTER
    include includes/footer.jade
    script(type='text/javascript' src='js/app.js')