//- add your jade files in this folder
doctype html
html
  head
    title
    link(rel='stylesheet', type='text/css', href='css/style.min.css')
  body
    header
    main
    footer
    script(type='text/javascript' src='js/app.js')